.a:hover,.dd:hover
{
    -webkit-box-shadow: 0px 0px 16px 1px rgba(245,235,245,1);
-moz-box-shadow: 0px 0px 16px 1px rgba(245,235,245,1);
box-shadow: 0px 0px 16px 1px rgba(245,235,245,1);
}
.b:hover,.bi:hover
{
    opacity: 0.7;
}
.c:hover{
-webkit-box-shadow: 0px 0px 18px 1px rgba(74,57,74,1);
-moz-box-shadow: 0px 0px 18px 1px rgba(74,57,74,1);
box-shadow: 0px 0px 18px 1px rgba(74,57,74,1);
}
.card:hover
{
    -webkit-box-shadow: 0px 0px 12px 1px rgba(74,57,74,1);
-moz-box-shadow: 0px 0px 12px 1px rgba(74,57,74,1);
box-shadow: 0px 0px 12px 1px rgba(74,57,74,1);
}
.dd
{
    border-radius: 80px;
    -webkit-box-shadow: 0px 0px 18px 1px rgba(74,57,74,1);
-moz-box-shadow: 0px 0px 18px 1px rgba(74,57,74,1);
box-shadow: 0px 0px 18px 1px rgba(74,57,74,1);

}
.ee:hover
{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}